<div class="container">
    <div class="row">
        <div class="col-md-8">
            <a href="#mainview">Go To Home</a>
            <h3>Countries & States Info</h3>
            <br />
            <table class="table table-hover table-bordered">
                <tr>
                    <td class="col-xs-2">Select Country:
                    </td>
                    <td class="col-xs-2">
                        <select id="country" class="form-control" ng-model="states" ng-options="country for (country, states) in countries">
                            <option value=''>--Select Country--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-2">Select States</td>
                    <td class="col-xs-2">
                        <select id="state" class="form-control" ng-disabled="!states" ng-model="color" ng-options="state for (state,colors) in states"><option value=''>--Select State--</option></select>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-2">Selected City Background Color</td>
                    <td class="col-xs-2">
                        <input type="text" class="form-control" ng-disabled="!states" ng-style="{'background-color':{{'color'}}}" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


